.mar0t{margin-top:0!important;}
.mar0r{margin-right:0!important;}
.mar0b{margin-bottom:0!important;}
.mar0l{margin-left:0!important;}
.pad0t{padding-top:0!important;}
.pad0r{padding-right:0!important;}
.pad0b{padding-bottom:0!important;}
.pad0l{padding-left:0!important;}
.mar1t{margin-top:1px!important;}
.mar1r{margin-right:1px!important;}
.mar1b{margin-bottom:1px!important;}
.mar1l{margin-left:1px!important;}
.pad1t{padding-top:1px!important;}
.pad1r{padding-right:1px!important;}
.pad1b{padding-bottom:1px!important;}
.pad1l{padding-left:1px!important;}
.mar2t{margin-top:2px!important;}
.mar2r{margin-right:2px!important;}
.mar2b{margin-bottom:2px!important;}
.mar2l{margin-left:2px!important;}
.pad2t{padding-top:2px!important;}
.pad2r{padding-right:2px!important;}
.pad2b{padding-bottom:2px!important;}
.pad2l{padding-left:2px!important;}
.mar3t{margin-top:3px!important;}
.mar3r{margin-right:3px!important;}
.mar3b{margin-bottom:3px!important;}
.mar3l{margin-left:3px!important;}
.pad3t{padding-top:3px!important;}
.pad3r{padding-right:3px!important;}
.pad3b{padding-bottom:3px!important;}
.pad3l{padding-left:3px!important;}
.mar4t{margin-top:4px!important;}
.mar4r{margin-right:4px!important;}
.mar4b{margin-bottom:4px!important;}
.mar4l{margin-left:4px!important;}
.pad4t{padding-top:4px!important;}
.pad4r{padding-right:4px!important;}
.pad4b{padding-bottom:4px!important;}
.pad4l{padding-left:4px!important;}
.mar5t{margin-top:5px!important;}
.mar5r{margin-right:5px!important;}
.mar5b{margin-bottom:5px!important;}
.mar5l{margin-left:5px!important;}
.pad5t{padding-top:5px!important;}
.pad5r{padding-right:5px!important;}
.pad5b{padding-bottom:5px!important;}
.pad5l{padding-left:5px!important;}
.mar6t{margin-top:6px!important;}
.mar6r{margin-right:6px!important;}
.mar6b{margin-bottom:6px!important;}
.mar6l{margin-left:6px!important;}
.pad6t{padding-top:6px!important;}
.pad6r{padding-right:6px!important;}
.pad6b{padding-bottom:6px!important;}
.pad6l{padding-left:6px!important;}
.mar7t{margin-top:7px!important;}
.mar7r{margin-right:7px!important;}
.mar7b{margin-bottom:7px!important;}
.mar7l{margin-left:7px!important;}
.pad7t{padding-top:7px!important;}
.pad7r{padding-right:7px!important;}
.pad7b{padding-bottom:7px!important;}
.pad7l{padding-left:7px!important;}
.mar8t{margin-top:8px!important;}
.mar8r{margin-right:8px!important;}
.mar8b{margin-bottom:8px!important;}
.mar8l{margin-left:8px!important;}
.pad8t{padding-top:8px!important;}
.pad8r{padding-right:8px!important;}
.pad8b{padding-bottom:8px!important;}
.pad8l{padding-left:8px!important;}
.mar9t{margin-top:9px!important;}
.mar9r{margin-right:9px!important;}
.mar9b{margin-bottom:9px!important;}
.mar9l{margin-left:9px!important;}
.pad9t{padding-top:9px!important;}
.pad9r{padding-right:9px!important;}
.pad9b{padding-bottom:9px!important;}
.pad9l{padding-left:9px!important;}
.mar10t{margin-top:10px!important;}
.mar10r{margin-right:10px!important;}
.mar10b{margin-bottom:10px!important;}
.mar10l{margin-left:10px!important;}
.pad10t{padding-top:10px!important;}
.pad10r{padding-right:10px!important;}
.pad10b{padding-bottom:10px!important;}
.pad10l{padding-left:10px!important;}
.mar11t{margin-top:11px!important;}
.mar11r{margin-right:11px!important;}
.mar11b{margin-bottom:11px!important;}
.mar11l{margin-left:11px!important;}
.pad11t{padding-top:11px!important;}
.pad11r{padding-right:11px!important;}
.pad11b{padding-bottom:11px!important;}
.pad11l{padding-left:11px!important;}
.mar12t{margin-top:12px!important;}
.mar12r{margin-right:12px!important;}
.mar12b{margin-bottom:12px!important;}
.mar12l{margin-left:12px!important;}
.pad12t{padding-top:12px!important;}
.pad12r{padding-right:12px!important;}
.pad12b{padding-bottom:12px!important;}
.pad12l{padding-left:12px!important;}
.mar13t{margin-top:13px!important;}
.mar13r{margin-right:13px!important;}
.mar13b{margin-bottom:13px!important;}
.mar13l{margin-left:13px!important;}
.pad13t{padding-top:13px!important;}
.pad13r{padding-right:13px!important;}
.pad13b{padding-bottom:13px!important;}
.pad13l{padding-left:13px!important;}
.mar14t{margin-top:14px!important;}
.mar14r{margin-right:14px!important;}
.mar14b{margin-bottom:14px!important;}
.mar14l{margin-left:14px!important;}
.pad14t{padding-top:14px!important;}
.pad14r{padding-right:14px!important;}
.pad14b{padding-bottom:14px!important;}
.pad14l{padding-left:14px!important;}
.mar15t{margin-top:15px!important;}
.mar15r{margin-right:15px!important;}
.mar15b{margin-bottom:15px!important;}
.mar15l{margin-left:15px!important;}
.pad15t{padding-top:15px!important;}
.pad15r{padding-right:15px!important;}
.pad15b{padding-bottom:15px!important;}
.pad15l{padding-left:15px!important;}
.mar20t{margin-top:20px!important;}
.mar20r{margin-right:20px!important;}
.mar20b{margin-bottom:20px!important;}
.mar20l{margin-left:20px!important;}
.pad20t{padding-top:20px!important;}
.pad20r{padding-right:20px!important;}
.pad20b{padding-bottom:20px!important;}
.pad20l{padding-left:20px!important;}
.mar25t{margin-top:25px!important;}
.mar25r{margin-right:25px!important;}
.mar25b{margin-bottom:25px!important;}
.mar25l{margin-left:25px!important;}
.pad25t{padding-top:25px!important;}
.pad25r{padding-right:25px!important;}
.pad25b{padding-bottom:25px!important;}
.pad25l{padding-left:25px!important;}
.mar30t{margin-top:30px!important;}
.mar30r{margin-right:30px!important;}
.mar30b{margin-bottom:30px!important;}
.mar30l{margin-left:30px!important;}
.pad30t{padding-top:30px!important;}
.pad30r{padding-right:30px!important;}
.pad30b{padding-bottom:30px!important;}
.pad30l{padding-left:30px!important;}
.mar35t{margin-top:35px!important;}
.mar35r{margin-right:35px!important;}
.mar35b{margin-bottom:35px!important;}
.mar35l{margin-left:35px!important;}
.pad35t{padding-top:35px!important;}
.pad35r{padding-right:35px!important;}
.pad35b{padding-bottom:35px!important;}
.pad35l{padding-left:35px!important;}
.mar40t{margin-top:40px!important;}
.mar40r{margin-right:40px!important;}
.mar40b{margin-bottom:40px!important;}
.mar40l{margin-left:40px!important;}
.pad40t{padding-top:40px!important;}
.pad40r{padding-right:40px!important;}
.pad40b{padding-bottom:40px!important;}
.pad40l{padding-left:40px!important;}
.mar45t{margin-top:45px!important;}
.mar45r{margin-right:45px!important;}
.mar45b{margin-bottom:45px!important;}
.mar45l{margin-left:45px!important;}
.pad45t{padding-top:45px!important;}
.pad45r{padding-right:45px!important;}
.pad45b{padding-bottom:45px!important;}
.pad45l{padding-left:45px!important;}
.mar50t{margin-top:50px!important;}
.mar50r{margin-right:50px!important;}
.mar50b{margin-bottom:50px!important;}
.mar50l{margin-left:50px!important;}
.pad50t{padding-top:50px!important;}
.pad50r{padding-right:50px!important;}
.pad50b{padding-bottom:50px!important;}
.pad50l{padding-left:50px!important;}
.mar75t{margin-top:75px!important;}
.mar75r{margin-right:75px!important;}
.mar75b{margin-bottom:75px!important;}
.mar75l{margin-left:75px!important;}
.pad75t{padding-top:75px!important;}
.pad75r{padding-right:75px!important;}
.pad75b{padding-bottom:75px!important;}
.pad75l{padding-left:75px!important;}
.mar100t{margin-top:100px!important;}
.mar100r{margin-right:100px!important;}
.mar100b{margin-bottom:100px!important;}
.mar100l{margin-left:100px!important;}
.pad100t{padding-top:100px!important;}
.pad100r{padding-right:100px!important;}
.pad100b{padding-bottom:100px!important;}
.pad100l{padding-left:100px!important;}
.mar200l{margin-left:200px;}
.mar200r{margin-right:200px;}
.mar200t{margin-top:200px;}
.mar200b{margin-bottom:200px;}
.mar200{margin:200px;}
.fs8{font-size:8px!important; line-height:12px;}
.fs9{font-size:9px!important; line-height:13px;}
.fs10{font-size:10px!important; line-height:14px;}
.fs11{font-size:11px!important; line-height:15px;}
.fs12{font-size:12px!important; line-height:16px;}
.fs13{font-size:13px!important; line-height:18px;}
.fs14{font-size:14px!important; line-height:18px;}
.fs15{font-size:15px!important; line-height:20px;}
.fs16{font-size:16px!important; line-height:22px;}
.fs17{font-size:17px!important; line-height:22px;}
.fs18{font-size:18px!important; line-height:22px;}
.fs19{font-size:19px!important; line-height:22px;}
.fs20{font-size:20px!important; line-height:24px;}
.fs21{font-size:21px!important; line-height:26px;}
.fs22{font-size:22px!important; line-height:26px;}
.fs23{font-size:23px!important; line-height:28px;}
.fs24{font-size:24px!important; line-height:30px;}
.fs30{font-size:30px!important; line-height:32px;}
.fs36{font-size:36px!important; line-height:36px;}
.fs48{font-size:48px!important; line-height:50px;}
.fs60{font-size:60px!important; line-height:50px;}
.fs72{font-size:72px!important; line-height:60px;}